@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

/* sidebar */
.container-all {
    background-color: #ECDFCC;
    flex: 1;
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

#sidebar {
    height: 141vh;
    width: 250px;
    background-color: #181C14;
    color: white;
}

#sidebar.active {
    margin-left: -200px;
}

.collapse-btn {
    position: relative;
    top: 1%;
    left: 200px;
    background-color: #181C14;
    color: white;
    border: none;
    font-size: 30px;
}

.collapse-btn:hover {
    background-color: #1b1f17;
    transition: 0.4s;
}

#sidebar p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    padding: 15px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: white;

}

#sidebar ul li a:hover {
    color: #d0d9e6;
    background: black;
}

.fa-solid,
.fa-brands {
    float: right;
}

/* phone */
@media (max-width: 600px) {
    #sidebar {
        margin-left: -100px;
        width: 150px;
        font-size: 25px;
    }

    .collapse-btn {
        position: relative;
        top: 1%;
        left: 100px;
    }

    #sidebar.active {
        margin-left: 0px;
    }
}

/* main */
.container-right {
    width: 100%;
    text-align: center;
}

#title {
    background-color: #3C3D37;
    color: white;
    margin: 0%;
}

#title p,
h2 {
    padding: 30px;
}

img {
    border-radius: 100%;
}

.container-card {
    background-color: #697565;
    color: white;
}

.container-card p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    padding: 15px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* lanuage page */
.language-container h2{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    padding: 60px;
}

footer {
  background-color: #181C14;
  color: white;
  text-align: center;
  padding: 10px 0;
}


